{extend name="base" /}
{block name="js"}
<script src="__STATIC__/plugins/echarts/echarts.min.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/js/main.js?v={$v}" type="text/javascript"></script>
<script>
function enterLicense(){
	location.href='{:Url("admin/index/enterLicense")}';
}
</script>
{/block}
{block name="main"}
<style>
body{background:#f5f5f5;}
.small-box{margin-right: 5%;border-radius: 2px;position: relative;display: block; margin-bottom: 20px;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
.small-box>.inner {padding: 10px;color: #fff !important;}
.small-box h3, .small-box p {z-index: 5;}
.small-box h3 {font-size: 38px; font-weight: bold;margin: 0 0 10px 0;white-space: nowrap;padding: 0;}
.small-box h3, .small-box p {z-index: 5;}
.small-box p {font-size: 15px;}
.small-box .icon {-webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;position: absolute;top: 10px;right: 20px;z-index: 0;font-size: 60px;color: rgba(0,0,0,0.15);}
.small-box:hover .icon {font-size: 70px;}
.wst-strip .progress{height:25px;width:70%;float:left}
</style>
<div id='wstmart-version-tips' class="alert alert-warning alert-dismissible wst-repair layui-col-xs12" role="alert" style='margin-bottom:-4px;background: #e6f7ff;display:none;color:#696B6A'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong style='color:#DD4B39'>更新提示：　</strong>您有新的版本(<span id='wstmart_version'>0.0.0</span>)可以下载啦~，请联系客服<a href="tencent://message/?uin=153289970&Site=QQ交谈&Menu=yes">
					  <img border="0" style='vertical-align:middle' src="{:WSTProtocol()}wpa.qq.com/pa?p=1:153289970:7" alt="QQ交谈" width="60" height="20" />
				  </a>获取
</div>
<div id='wstmart-accredit-tips' class="alert alert-warning alert-dismissible wst-repair layui-col-xs12" role="alert" style="background: #e6f7ff;display:none;margin-bottom:0px;color:#696B6A">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong style='color:#DD4B39'>授权提示：　</strong>系统检测到您未获取授权，点此<a target='_blank' href='http://www.wstmart.net/index.php?c=License&a=index'>获取系统授权码</a>
</div>
<div width='100%' border='0' class="layui-row">
	<div class="layui-col-md9">
		<div class="wst-total wst-summary">
		    <div class='wst-summary-head layui-col-md12' style='margin-bottom:20px'>
				<span class="content">今日统计</span>
			</div>
			<div class="layui-col-md4" style="height: auto;overflow: hidden;">
			 <div class='small-box' style='background-color: #00c0ef !important;'>
			 	<div class='inner'>
			 		<h3>{$object['tody']['userType0']}</h3>
			 		<p>今日新增会员</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-user-plus"></i>
			 	</div>
			 </div>
             <div class='small-box' style='background-color: #605ca8 !important;'>
			 	<div class='inner'>
			 		<h3>{$object['tody']['userType1']}</h3>
			 		<p>今日新增商家</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-university"></i>
			 	</div>
			 </div>
			</div>
			<div class="layui-col-md4"style="height: auto;overflow: hidden;">
             <div class='small-box' style='background-color: #00ca6d !important;'>
			 	<div class='inner'>
			 		<h3>{$object['tody']['shopApplys']}</h3>
			 		<p style='font-size:15px;'>今日开店申请</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-handshake-o"></i>
			 	</div>
			 </div>
             <div class='small-box' style='background-color: #dd4b39 !important;'>
			 	<div class='inner'>
			 		<h3>{$object['tody']['compalins']}</h3>
			 		<p>今日新增投诉</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-frown-o"></i>
			 	</div>
			 </div>
			</div>
			<div class="layui-col-md4"style="height: auto;overflow: hidden;">
             <div class='small-box' style='background-color: #f39c12 !important;'>
			 	<div class='inner'>
			 		<h3>{$object['mall']['saleGoods']}/{$object['tody']['auditGoods']}</h3>
			 		<p>上架商品/待审核</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-cubes"></i>
			 	</div>
			 </div>
             <div class='small-box' style='background-color: #4ED1D1 !important;'>
			 	<div class='inner'>
			 		<h3>{$object['tody']['order']}</h3>
			 		<p>今日新增订单</p>
			 	</div>
			 	<div class='icon'>
			 		<i class="fa fa-shopping-cart"></i>
			 	</div>
			 </div>
			</div>
		</div>
		<div class="wst-total wst-summary" style='margin-bottom:10px'>
			<div class='wst-summary-head layui-col-md12'>
				<span class="content">商城统计</span>
			</div>
			<div class="wst-summary-content2 layui-col-md6">
				<div class="wst-strip">
                    <div class="wst-title">会员总数</div>
                  	<div class="progress">
					   <div class="progress-bar progress-bar-striped" style="width: 100%;background-color:#00c0ef"></div>
				    </div>
				    <span class="wst-num">{$object['mall']['userType0']}个</span>
				</div>
				<div class="wst-strip">
                    <div class="wst-title">上架商品总数/待审核数</div>
                    <div class="progress">
                       {php}
                       $w = 0;
                       $w = ($object['mall']['saleGoods']>0)?((1-$object['mall']['auditGoods']/$object['mall']['saleGoods'])*100):0;
                       {/php}
					   <div class="progress-bar progress-bar-striped" style="width:{$w}%;background-color:#f39c12"></div>
				    </div>
				    <span class="wst-num">{$object['mall']['saleGoods']}/{$object['mall']['auditGoods']}个</span>
				</div>
				<div class="wst-strip">
                    <div class="wst-title">品牌总数</div>
                    <div class="progress">
					   <div class="progress-bar progress-bar-striped" style="width: 100%;background-color:#00ca6d"></div>
				    </div>
				    <span class="wst-num">{$object['mall']['brands']}个</span>
				</div>
		    </div>
		    <div class="wst-summary-content2 layui-col-md6">
		    	<div class="wst-strip">
                    <div class="wst-title">商家总数</div>
                    <div class="progress">
					   <div class="progress-bar progress-bar-striped" style="width: 100%;background-color:#605ca8"></div>
				    </div>
				    <span class="wst-num">{$object['mall']['userType1']}个</span>
				</div>
				<div class="wst-strip">
                    <div class="wst-title">订单总数</div>
                    <div class="progress">
					   <div class="progress-bar progress-bar-striped" style="width: 100%;background-color:#4ED1D1"></div>
				    </div>
                  <span class="wst-num">0个</span>
				</div>
				<div class="wst-strip">
                    <div class="wst-title">评价总数</div>
                    <div class="progress">
					   <div class="progress-bar progress-bar-striped" style="width: 100%;"></div>
				    </div>
                  <span class="wst-num">{$object['mall']['appraise']}个</span>
				</div>
		    </div>
	    </div>
	</div>
	<div class="layui-col-md3 " style="padding: 10px 10px 10px 0px;">
	<div class="wst-cont-total" style='margin-bottom: 10px;'>
	  <div class="wst-cont-bor">
		<div class="wst-cont-head">
			<img src="__ADMIN__/img/about_1.png"/><span> 走进我们</span>
		</div>
		<div class="wst-cont-body">官网：<a href='http://www.wstmart.net' target='_blank'>http://www.wstmart.net</a></div>
	  </div>
	  <div class="wst-cont-bor">
		<div class="wst-cont-head">
			<img src="__ADMIN__/img/about_2.png"/><span> 开发团队：</span>
		</div>
		<div class="wst-cont-body">广州商淘信息科技有限公司</div>
	  </div>
	  <div class="wst-cont-bor">
		<div class="wst-cont-head">
			<img src="__ADMIN__/img/about_8.png" /><span> 我们的理念</span>
		</div>
		<div class="wst-cont-body">我们愿与更多中小企业一起努力，一起成功!<br/>We Success together!</div>
	  </div>
	  <div class="wst-cont-bor">
		<div class="wst-cont-head">
			<img src="__ADMIN__/img/about_4.png"/><span> 使用交流</span>
		</div>
		<div class="wst-cont-body">交流社区：<a href='http://bbs.shangtao.net' target='_blank'>http://bbs.shangtao.net</a><br/>用户QQ群：590755485</div>
	  </div>
	  <div class="wst-cont-bor">
		<div class="wst-cont-head">
			<img src="__ADMIN__/img/about_3.png"/><span> 商城定制</span>
		</div>
		<div class="wst-cont-body" style='border-bottom:0px'>电话：020-85289921<br/>QQ：153289970</div>
	  </div>
	</div>
	</div>
</div>
<div class="wst-total wst-summary" style="height: 400px;>
 <div class='wst-summary-head layui-col-md12'>
   <span class="content">最近1个月新增会员</span>
   <div id="main" style='width:100%;height:350px;'></div>
 </div>
</div>
<div class="wst-total wst-summary" style="height: 400px;">
  <div class='wst-summary-head layui-col-md12'>
   <span class="content">最近1个月订单数</span>
   <div id="main1" style='width:100%;height:350px;'></div>
  </div>
</div>
<div class="wst-total wst-summary" style='padding-bottom:40px'>
			<div class='wst-summary-head layui-col-md12'>
				<span class="content">系统信息</span>
			</div>
			<div class="wst-system-chunk layui-col-md6 wst-bor-top">
				<div class="wst-system-strip wst-line-top">
					<div class="title"><span>软件版本号：</span></div>
					<div class="text">【授权版】{:WSTConf("CONF.wstVersion")}</div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>问题反馈：</span></div>
					<div class="text"><a href="http://bbs.shangtao.net" target='_blank'>点击反馈</a></span></div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>服务器操作系统：</span></div>
					<div class="text">{$Think.PHP_OS}</div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>PHP版本：</span></div>
					<div class="text">{$Think.PHP_VERSION}</div>
				</div>
			</div>
			<div class="wst-system-chunk layui-col-md6 wst-bor-top" style="border-right:0px solid transparent;">
				<div class="wst-system-strip wst-line-top">
					<div class="title"><span>授权类型：</span></div>
					<div class="text"><div id='licenseStatus'></div></div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>授权码：</span></div>
					<div class="text">{:WSTConf("CONF.mallLicense")}</div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>WEB服务器：</span></div>
					<div class="text">{$Think.server.SERVER_SOFTWARE}</div>
				</div>
				<div class="wst-system-strip">
					<div class="title"><span>MYSQL版本：</span></div>
					<div class="text">{$object['MySQL_Version']}</div>
				</div>
			</div>
</div>
<input type="hidden" id="startDate" name="startDate" class="laydate-icon ipt" maxLength="20" value="{$object['time']['startDate']}" placeholder='开始日期'/>
<input type="hidden" id="endDate" name="endDate" class="laydate-icon ipt" maxLength="20" value="{$object['time']['endDate']}" placeholder='结束日期'/>
{/block}